body{
    background: #fafafa;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e4e7e6, #f7faf5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e8f0ed, #d7dad6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}